@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
	--theme-font: 'Spartan', sans-serif;

	/* Theme 1 */
	--b-main: hsl(222, 26%, 31%);
	--b-keypad: hsl(223, 31%, 20%);
	--b-screen: hsl(224, 36%, 15%);
	--b-key-blue: hsl(225, 21%, 49%);
	--key-shadow-blue: hsl(224, 28%, 35%);
	--b-key-red: hsl(6, 63%, 50%);
	--key-shadow-red: hsl(6, 70%, 34%);
	--b-key: hsl(30, 25%, 89%);
	--key-shadow: hsl(28, 16%, 65%);
	--text-blue: hsl(221, 14%, 31%);
	--white: white; /* hsl(0, 0, 100%) */
}

body {
	background-color: var(--b-main);
	box-sizing: border-box;
	color: var(--white);
	font-family: var(--theme-font);
	margin: 0;
}

.b-main {
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: center;
	margin: 0 auto;
	width: 450px;
}

/* calculator head */
.b-head {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.b-head__title {
	margin: 0;
}
.b-head__theme {
	align-items: center;
	color: var(--b-key);
	display: grid;
	font-size: 0.6rem;
	grid-template: repeat(2, 21px) / repeat(2, 58px);
	grid-template-areas: 
		". options"
		"text switch";
}
.b-head__text {
	grid-area: text;
	letter-spacing: 1px;
}
.b-head__options {
	display: flex;
	grid-area: options;
	justify-content: space-around;
	padding: 0 4px;
}
.b-switch {
	background-color: var(--b-keypad);
	border-radius: 50ex;
	box-sizing: border-box;
	display: flex;
	grid-area: switch;
	height: 21px;
	justify-content: space-between;
	padding: 4px;
}
.b-switch__radio {
	appearance: none;
	border-radius: 50%;
	height: 13px;
	margin: 0;
	outline: none;
	width: 13px;
}
input.b-switch_theme_blue:checked {
	background-color: var(--b-key-red);
}

/* Screen */
.b-screen {
	align-items: center;
	background-color: var(--b-screen);
	border-radius: 10px;
	display: flex;
	height: 60px;
	justify-content: flex-end;
	margin: 25px 0;
	padding: 25px;
}
.b-screen__result {
	font-size: 40px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }